<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjNWxyjzh6iN__WTe3YZoqiTe8L_T3Sqc</string>
	<key>GCM_SENDER_ID</key>
	<string>484632677381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.clix.examles.nativefire.nativefire-test-1</string>
	<key>PROJECT_ID</key>
	<string>clix-so-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>clix-so-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484632677381:ios:6fb614ade92baba935206c</string>
</dict>
</plist>